body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    font-size: 1.34rem;
    margin-top: 0;
    margin-bottom: 0;
    
}

h4 {
    font-size: .9rem;
    margin-top: 1rem;
}

p {
    font-size: .8rem;
    color: hsl(0, 0%, 50%);
}

img {
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
  }

.row {
    flex-direction: row;
    align-items: center;
 }

.box {
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    width: 20rem;
    max-width: calc(100% - 60px);
    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: hsl(0, 0%, 7%) 10px 10px;
    transition: .5s;
 }

 .box:hover {
    box-shadow: hsl(0, 0%, 7%) 15px 17px;
}

.tag {
    background-color: hsl(47, 88%, 63%);
    border-radius: 8px;
    padding: .6rem;
    width: 4.8rem;
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 14px;
}

.figtree-text {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.figtree-big {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media all and (min-width: 800px) {
    h1 {
      font-size: 1.6rem;
      margin-top: 0;
      margin-bottom: 0;
  }
  
  h4 {
    font-size: 1rem;
      margin-top: 1rem;
  }
  
  p {
      font-size: 1rem;
      color: hsl(0, 0%, 50%);
  }
}