body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: hsl(47, 88%, 63%);
}

h1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    margin-top: 1rem;
}
p {
    font-size: 16px;
    color: hsl(0, 0%, 50%);
}

img {
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
  }

.row {
    flex-direction: row;
    align-items: center;
 }

.box {
    background-color: hsl(0, 0%, 100%);
    padding: 1.6rem;
    width: 22rem;
    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 7%);
    border-radius: 18px;
    filter: drop-shadow(8px 8px);
 }



.tag {
    background-color: hsl(47, 88%, 63%);
    border-radius: 8px;
    padding: .8rem;
    /* is there a better way to set the width? */
    width: 4.2rem;
    margin-top: 1.6rem;
    justify-content: center;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 14px;

}

.figtree-text {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.figtree-big {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

/* Yellow: hsl(47, 88%, 63%)
White: hsl(0, 0%, 100%)
Grey: hsl(0, 0%, 50%)
Black: hsl(0, 0%, 7%) */

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
